USE [Practice]
GO
/****** Object:  StoredProcedure [dbo].[FetchEmpDetails]    Script Date: 04-04-2023 14:11:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[FetchEmpDetails]  AS 
SELECT * FROM EmployeeDetails 

